@model IEnumerable<whatUneed.Models.Social.SocialListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Social</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<h4>Search by:</h4>

@Html.Partial("_Search")

@Html.ActionLink("Back to List", "Index")

<br />
<br />
<br />

    <table class="table table-condensed table-hover table-striped table-bordered">
        <thead style="        background-color: rgba(84, 97, 133, 0.50);">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResourceType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InPerson)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Url)
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink($"{item.CategoryType}", "Details", new { id = item.SocialId }, null)
                </td>
                <td>
                    @Html.ActionLink($"{item.Title}", "Details", new { id = item.SocialId }, null)
                </td>
                <td>
                    @Html.ActionLink($"{item.ResourceType}", "Details", new { id = item.SocialId }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InPerson)
                </td>
                <td>
                    <a href="
               @Html.DisplayFor(modelItem => item.Url)
               "
                       target="blank">
                        @Html.DisplayFor(modelItem => item.Url)
                    </a>
                </td>
            </tr>
        }

    </table>
