@model whatUneed.Models.Emotional.EmotionalDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to delete <strong>@Html.DisplayFor(model => model.Title)</strong>?</h2>

<div>

    <hr />

    <h4>@Html.DisplayFor(model => model.Description)</h4>

    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResourceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResourceType)
        </dd>

        <dt>
            Location
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InPerson)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddToFavorites)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddToFavorites)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            <a href="
           @Html.DisplayFor(model => model.Url)
           "
               target="blank">
                @Html.DisplayFor(model => model.Url)
            </a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Edit", "Edit", new { id = Model.EmotionalId }) |
            @Html.ActionLink("Details", "Details", new { id = Model.EmotionalId }) |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
