@model whatUneed.Models.Favorites.FavoritesDetail

@{
    ViewBag.Title = "PhysicalRemove";
}

<h2>Are you sure you want to remove <strong>@Html.DisplayFor(model => model.PhysicalTitle)</strong> from your favorites?</h2>

<div>

    <hr />

    <h4>@Html.DisplayFor(model => model.PhysicalDescription)</h4>

    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhysicalCategoryType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicalCategoryType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhysicalResourceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicalResourceType)
        </dd>

        <dt>
            Location
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicalCity), @Html.DisplayFor(model => model.PhysicalState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysicalInPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicalInPerson)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhysicalUrl)
        </dt>

        <dd>
            <a href="
           @Html.DisplayFor(model => model.PhysicalUrl)
           "
               target="blank">
                @Html.DisplayFor(model => model.PhysicalUrl)
            </a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhysicalCreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicalCreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysicalModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicalModifiedUtc)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remove" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
