@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center" style="        background-image: url(https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;">
    <h1>what-U-need</h1>
    <p class="lead">
        Welcome! what-U-need is a site designed to help individuals who are seeking self improvement. Whether you are searching for emotional, physical, social, or financial improvement, you are sure to find the answers here to help set you on the path you want to be on. Check out the links below, and hopefully you will find exactly what you need!
    </p>
    <p>
        @Html.ActionLink("Emotional", "Index", "Emotional") |
        @Html.ActionLink("Physical", "Index", "Physical") |
        @Html.ActionLink("Social", "Index", "Social") |
        @Html.ActionLink("Financial", "Index", "Financial")
    </p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Emotional</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p>@Html.ActionLink("Learn more", "Index", "Emotional", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-3">
        <h2>Physical</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p>@Html.ActionLink("Learn more", "Index", "Physical", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-3">
        <h2>Social</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p>@Html.ActionLink("Learn more", "Index", "Social", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-3">
        <h2>Financial</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p>@Html.ActionLink("Learn more", "Index", "Financial", null, new { @class = "btn btn-default" })</p>
    </div>

</div>
